html,
 body {
   height: 100%;
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
 }
textarea {
   font-family: Arial, Helvetica, sans-serif;
}
 
 .main-content {
   padding: 20px;
 }
 
 @media (max-width: 768px) {
   .main-content {
     padding: 20px 8px;
   }
 }
 
h1 {
  background-color: #544066;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

p {
  color: #663b21;
  background: #fff1d1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #f1ddad;
  font-size: 0.9em;
}

/* form specific formatting */
.form-group {
  display: flex;
  flex-direction: row;
  background: rgb(229,233,255);
  background: linear-gradient(180deg, rgba(229,233,255,1) 0%, rgba(255,255,255,1) 79%);
}
.form-group:last-of-type {
  background: none;
}

.form-group label {
  font-size: 1em;
  font-weight: bold;
  padding: 15px;
  color: #673ab7;
  flex: none;
  display: block;
  width: 125px;
}

.form-group label.right-inline {
  text-align: right;  
  padding-right: 8px;
  padding-left: 10px;
  width: auto;
}

.form-group .input-control {
  font-size: 1em;
  flex: 1 1 auto;
  display: block;
  margin: 20px 20px 20px 10px;
  padding: 15px;
  color: #673ab7;
  border: 1px solid #673ab7;
  border-radius: 5px;
}

button {
  background-color: #46a940;
  border-radius: 4px;
  border: 3px solid #3d9938;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 19px 41px;
  text-decoration: none;
}
button:hover{
  background-color: #3d9938;
}

@media (max-width: 768px) {
 .form-group {
   flex-direction: column;
 }
 .form-group .input-control {
   margin-top: 2px;
 }
 .form-group label.right-inline {
   text-align: left;  
   padding-right: 0;
   padding-left: 0;   
 }
}